<h2>Add a Stock</h2>

<div class="form">
	<%= form_for @stock do |f| %>
		<%= f.label "Ticker Symbol"%><br>
		<%= f.text_field :ticker%><br>

		<%= f.label "Price"%><br>
		<%= f.number_field :price, step: :any%><br>
		
		<%= f.submit %>
	<%end%>
</div>