<h2>New Post</h2>


<div class="form">
	<%= form_for @post do |f| %>
		<%= f.label "Stock Ticker"%><br>
		<%= f.text_field  :ticker, required: true%><br>

		<%= f.label " "%><br>
		<%= f.text_area  :body, required: true%><br>

		<%= f.submit %>
		<%end%>
</div>
